@media only screen and (max-width: 910px) {
    .hid{
        display: none;
    }
    .menu{
        display: block !important;
    }
    .navbar{
        justify-content: space-between!important;
    }

    .nav-right{
        width: 20% !important;
    }
    .nav-list{
        flex-wrap: nowrap !important;
 
    }
    .logo {
        color: #DADADA;
        font-size: 18px;
    }
    .slider-hdn p{
        font-size: 37px !important;
        font-weight: normal !important;
        text-align: center;
    }
}
@media only screen and (max-width: 810px){
    .slider-hdn p{
        font-size: 29px !important;
        font-weight: normal !important;
        text-align: center;
    }
    
    
}
@media only screen and (max-width: 492px){
    .slider-hdn p{
        font-size: 29px !important;
        font-weight: normal !important;
        text-align: center;
    }}
    @media only screen and (max-width: 475px){
        .slider-hdn p{
            font-size: 25px !important;
            font-weight: normal !important;
            text-align: center;
        }
    }
    @media only screen and (max-width: 410px){
        .slider-hdn p{
            font-size: 23px !important;
            font-weight: normal !important;
            text-align: center;
        }
    }
    @media only screen and (max-width: 375px){
        .slider-hdn p{
            font-size: 21px !important;
            font-weight: normal !important;
            text-align: center;
        }
    }
    @media only screen and (max-width:320px) {
        .slider-img img {
    
            margin-top: 35px !important;
          
          }
    }