@media only screen and (max-width: 910px) {
    .hid{
        display: none;
    }
    .menu{
        display: block !important;
    }
    .navbar{
        justify-content: space-between!important;
    }

    .nav-right{
        width: 20% !important;
    }
    .nav-list{
        flex-wrap: nowrap !important;
 
    }
    .logo {
        color: #DADADA;
        font-size: 18px;
    }
}
@media only screen and (max-width: 552px){
    .slider-hdn p{
        font-size: 37px !important;
        font-weight: normal !important;
        text-align: center;
    }
}
@media only screen and (max-width: 320px){
    .slider-hdn p{
        font-size: 29px;
        font-weight: normal !important;
        text-align: center;
    }
}